.logo {
    width: auto;
    height: 52px;
    margin-top: 26px;
    margin-bottom: 26px;
}

.mw {
    max-width: 1120px;
    margin-right: auto;
    margin-left: auto;
}

.search-icon {
    font-size: 36px !important;
    color: white;
}

.filter-icon {
    font-size: 18px !important;
}

.header {
    border-color: rgb(221 221 221);
    border-width: 1px;
    border-left-width: 0 !important;
    border-right-width: 0 !important;
    border-style: solid;
}

.bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/bg-building.svg");
    width: 100%;
    height: 70vh;
}

.mp-text {
    color: white;
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.mp-text-small {
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.2rem;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.mp-span {
    background-color: rgb(35 27 27);
    display: inline-block;
}

.mp-span-small {
    background-color: rgb(229 53 44);
    display: inline-block;
}

.mp-s-button {
    background-color: rgb(229 53 44);
    border-color: rgb(229 53 44);
    border-width: 1px;
    float: right;
}

.mp-s {
    font-size: 1.25rem;
    line-height: 1.75rem;
    padding: 1.25rem 1.75rem;
    border-color: transparent;
    width: 484px;
    float: left;
}

.hidden {
    display: none;
}

.wh-full-mw-fit {
    max-width: fit-content;
    width: 100%;
    height: 100%;
}

.p-7 {
    padding: 1.75rem;
}

.pt-10 {
    padding-top: 2.5rem;
}

.pb-7 {
    padding-bottom: 1.75rem;
}

.px-7 {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}

.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.p-15px {
    padding: 15px;
}

.mx-7 {
    margin-left: 1.75rem;
    margin-right: 1.75rem;
}

.ml-7 {
    margin-left: 1.75rem;
}

.mt-32px {
    margin-top: 32px;;
}

.border-c-grey {
    border-color: rgb(221 221 221 / 1);
}

.border-solid {
    border-style: solid;
}

.border-b {
    border-bottom-width: 1px;
}

.grid {
    display: grid;
}

.grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-cols-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
}

.col-span-2 {
    grid-column: span 2 / span 2;
}

.col-span-4 {
    grid-column: span 4 / span 4;
}

.row-span-3 {
    grid-row: span 3 / span 3;
}

.bg-c-grey {
    background-color: rgb(221 221 221 / 1);
}

.w-full {
    width: 100%;
}

.mb-3 {
    margin-bottom: 0.75rem;
}

.text-white {
    color: rgb(255 255 255 / 1);
}

.font-bold {
    font-weight: 700;
}

.py-7 {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
}

.bg-c-brown {
    background-color: rgb(35 27 27 / 1);
}

.py-13px {
    padding-top: 13px;
    padding-bottom: 13px;
}

.inline-block {
    display: inline-block;
}

.h-full {
    height: 100%;
}

.max-w-fit {
    max-width: fit-content;
}

.w-400px {
    width: 400px;
}

.py-15px {
    padding-top: 15px;
    padding-bottom: 15px;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.border-transparent {
    border-color: transparent;
}

.float_left {
    float: left;
}

.bg-c-red {
    background-color: rgb(229 53 44 / 1);
}

.float-right {
    float: right;
}

.border {
    border-width: 1px;
}

.border-c-red {
    border-color: rgb(229 53 44 / 1);
}

.p-10px {
    padding: 10px;
}

.sort-option {
    white-space: pre;
    font-weight: bold;
}

.text-c-red {
    color: rgb(229 53 44 / 1);
}

.dropdown-content {
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content div {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content div:hover {
    background-color: #ddd;
}

.col-span-3 {
    grid-column: span 3 / span 3;
}

.mt-6 {
    margin-top: 1.5rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

.m-auto {
    margin: auto;
}

.type-icon {
    width: 65px;
    height: auto;
}

.r-corners {
    border-radius: 25px;
}

.col-span-5 {
    grid-column: span 5 / span 5;
}

.text-c-blue {
    color: rgb(6,69,173);
}

.my-6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.pr-7 {
    padding-right: 1.75rem;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.pb-3 {
    padding-bottom: 0.75rem;
}

.w-175px {
    width: 175px;
}

.text-justify {
    text-align: justify;
}

.p-2px {
    padding: 2px;
}

.pl-3 {
    padding-left: 0.75rem;
}

.accent-c-red {
    accent-color: #E5352C;
}
